@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Razor.TagHelpers
@using MovieDemo.Models.Entities
@using Newtonsoft.Json
@using ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<Movie>
@addTagHelper *,ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Home Page";
    var user = new AppUser();
    if (Context.Session.GetString("MovieDemoLoggedInUser") != null)
    {
        var userString = Context.Session.GetString("MovieDemoLoggedInUser");
        user = JsonConvert.DeserializeObject<AppUser>(userString);
    }
}
<div class="text-center">
    <nav aria-label="Movie Demo">
        <vc:pager paging-list="@Model"></vc:pager>
    </nav>
</div> <!-- end .text-right -->
<div class="row">
    @foreach (var item in Model)
    {
        var time = TimeSpan.FromMinutes(item.runtime);
        var fromTimeString = time.ToString("hh':'mm");
        <div class="col-md-4 col-sm-6" style="min-height: 300px !important">
            <div class="property-card">
                <div class="property-image" style="background: url('@item.posterPath') center center/cover no-repeat;">
                    @if (user.AppUserId > 0)
                    {
                        if (user.UserFavouriteMovies.SingleOrDefault(n => n.AppUserId == user.AppUserId && n.MovieId == item.id) == null)
                        {
                            <span class="property-label label label-warning">
                                <a href="@Url.Action("AddMovieToFavoriteList", "UserFavouriteMovie", new {movieId = item.id})">
                                    Add to Favorite
                                </a>

                            </span>
                        }
                        else
                        {
                            <span class="property-label label label-warning">
                                <a href="@Url.Action("RemoveMovieToFavoriteList", "UserFavouriteMovie", new {movieId = item.id})">
                                    Remove Favorite
                                </a>

                            </span>
                        }
                    }

                </div>

                <div class="property-content">
                    <div class="listingInfo">
                        <div class="">
                            <h5 class="text-success m-t-0">$@($"{item.budget:n0}")</h5>
                        </div>
                        <div class="">
                            <h3 class="text-overflow">
                                <a href="#" class="text-dark">@item.title</a>
                            </h3>
                            <p class="text-muted text-overflow"><i class="mdi mdi-map-marker-radius m-r-5"></i>@item.overview?.Substring(0, item.overview.Length)...</p>

                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <h6>@(new DateTime(item.releaseDate[0], item.releaseDate[1], item.releaseDate[2]).ToString("D"))</h6>
                                    <p class="text-overflow" title="Square Feet">Date Released</p>
                                </div>
                                <div class="col-xs-4">
                                    <h5>@fromTimeString</h5>
                                    <p class="text-overflow" title="Bedrooms">Runtime</p>
                                </div>
                                <div class="col-xs-4">
                                    <h5>@item.voteAverage</h5>
                                    <p class="text-overflow" title="Parking Space">Vote Average</p>
                                </div>
                            </div>

                            <div class="m-t-20">
                                <a href="@item.homepage" target="_blank" class="btn btn-primary btn-block waves-effect waves-light">View Movie</a>
                            </div>
                        </div>
                    </div>
                    <!-- end. Card actions -->
                </div>
                <!-- /inner row -->
            </div>
            <br />
            <br />
            <br />
            <!-- End property item -->
        </div>
        <!-- end col -->
    }
</div>


<div class="text-center">
    <nav aria-label="Movie Demo">
        <vc:pager paging-list="@Model"></vc:pager>
    </nav>
</div> <!-- end .text-right -->
