@using MovieDemo.Models.Enum
@model MovieDemo.Models.Entities.AppUser
@{
    ViewBag.Title = "Sign in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Movie Demo ...">
    <meta name="author" content="Haruna Salim">
    <!-- App favicon -->
    <link rel="shortcut icon" href="https://banner2.cleanpng.com/20180323/ape/kisspng-art-film-logo-cinema-clip-art-movie-logo-cliparts-5ab587fb1000c4.1651552415218462670656.jpg"/>
    <!-- App title -->
    <title>MovieDemo | @ViewData["Title"]</title>

    <!-- App css -->
    <link href="~/DashboardTheme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/DashboardTheme/assets/css/core.css" rel="stylesheet" type="text/css"/>
    <link href="~/DashboardTheme/assets/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="~/DashboardTheme/assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="~/DashboardTheme/assets/css/pages.css" rel="stylesheet" type="text/css"/>
    <link href="~/DashboardTheme/assets/css/menu.css" rel="stylesheet" type="text/css"/>
    <link href="~/DashboardTheme/assets/css/responsive.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        .m-t-40 { margin-top: 35% !important; }

        body { font-family: sans-serif !important }
    </style>
    <script src="~/DashboardTheme/assets/js/modernizr.min.js"></script>
    @RenderSection("Css", false)
</head>


<body>

<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="spinner-wrapper">
                <div class="rotator">
                    <div class="inner-spin"></div>
                    <div class="inner-spin"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- HOME -->
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-12">

                <div class="wrapper-page">
                    @if (TempData["display"] != null)
                    {
                        if (TempData["notificationtype"].Equals(NotificationType.Success.ToString()))
                        {
                            <script>
                                Swal.fire({
                                    text: '@TempData["display"]',
                                    type: 'success'
                                })
                            </script>
                        }
                        if (TempData["notificationtype"].Equals(NotificationType.Error.ToString()))
                        {
                            <script>
                                Swal.fire({
                                    text: '@TempData["display"]',
                                    type: 'error'
                                })
                            </script>
                        }
                        if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
                        {
                            <script>
                                Swal.fire({
                                    text: '@TempData["display"]',
                                    type: 'info'
                                })
                            </script>
                        }
                    }
                    @RenderBody()
                </div>
                <!-- end wrapper -->

            </div>
        </div>
    </div>
</section>
<!-- END HOME -->

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="~/DashboardTheme/assets/js/jquery.min.js"></script>
<script src="~/DashboardTheme/assets/js/bootstrap.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/DashboardTheme/assets/js/detect.js"></script>
<script src="~/DashboardTheme/assets/js/fastclick.js"></script>
<script src="~/DashboardTheme/assets/js/jquery.blockUI.js"></script>
<script src="~/DashboardTheme/assets/js/waves.js"></script>
<script src="~/DashboardTheme/assets/js/jquery.slimscroll.js"></script>
<script src="~/DashboardTheme/assets/js/jquery.scrollTo.min.js"></script>

<!-- App js -->
<script src="~/DashboardTheme/assets/js/jquery.core.js"></script>
<script src="~/DashboardTheme/assets/js/jquery.app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

@RenderSection("Script", false)

</body>
</html>